<p><%= @user.name %>　さん</p>
<%= @disaster.description.html_safe %>
<p>社員の方は速やかに下記URLへアクセスし, 安否登録を行って下さい.</p>
<%= link_to @conf_edit_url, @conf_edit_url %>
<hr>

<p>また社員の安否登録状況一覧を確認するためのユーザIDとパスワード, URLは</p>
<ul>
<li>ID : user </li>
<li>Pass: <%= (Random.new(Disaster.last.id).rand * 10000000).truncate.to_s %></li>
<li><%= link_to @user_conf_url, @user_conf_url %></li>
</ul>