<%- model_class = Disaster -%>
<div class="page-header">
  <h1>災害情報</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>災害名:</strong></dt>
  <dd><%= @disaster.name %></dd>
  <dt><strong>災害情報:</strong></dt>
  <dd><%= @disaster.description %></dd>
</dl>

<%= link_to "戻る",
              disasters_path, :class => 'btn btn-default'  %>
<%= link_to "編集",
              edit_disaster_path(@disaster), :class => 'btn btn-default' %>
<%= link_to "削除",
              disaster_path(@disaster),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
