<%- model_class = Confirmation -%>

<% unless @confirmation.contacted %>
  <div class="page-header">
    <h1><%= @user.name %> さん 安否情報を登録してください．</h1>
  </div>

  <%= simple_form_for @confirmation, url: disaster_confirmations_update_path(@disaster, user_id: @encrypt_user_id), :html => { :class => 'form-horizontal' }, method: :put do |f| %>
    <%= f.input :locate, collection: ['自宅', '会社', 'その他'], as: :select, include_blank: false  %>
    <%= f.input :locate_desc %>
    <%= f.input :safely, collection: ['無事', '怪我あり'], as: :select, include_blank: false  %>
    <%= f.input :safely_desc %>
    <%= f.input :contacted, as: :hidden, input_html: { value: true }  %>

    <%= f.button :submit, :class => 'btn-primary', value: '完了' %>
  <% end %>

<% else %>
<h1>登録ありがとうございました</h1>
<h2>登録内容</h2>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:locate) %>:</strong></dt>
  <dd><%= @confirmation.locate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locate_desc) %>:</strong></dt>
  <dd><%= @confirmation.locate_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:safely) %>:</strong></dt>
  <dd><%= @confirmation.safely %></dd>
  <dt><strong><%= model_class.human_attribute_name(:safely_desc) %>:</strong></dt>
  <dd><%= @confirmation.safely_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contacted) %>:</strong></dt>
  <dd><%= @confirmation.contacted %></dd>
</dl>

<% end %>

