<%- model_class = Confirmation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:locate) %>:</strong></dt>
  <dd><%= @confirmation.locate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locate_desc) %>:</strong></dt>
  <dd><%= @confirmation.locate_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:safely) %>:</strong></dt>
  <dd><%= @confirmation.safely %></dd>
  <dt><strong><%= model_class.human_attribute_name(:safely_desc) %>:</strong></dt>
  <dd><%= @confirmation.safely_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contacted) %>:</strong></dt>
  <dd><%= @confirmation.contacted %></dd>
  <dt><strong><%= model_class.human_attribute_name(:disaster_id) %>:</strong></dt>
  <dd><%= @confirmation.disaster_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @confirmation.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              confirmations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_confirmation_path(@confirmation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              confirmation_path(@confirmation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
